.App {
  text-align: center;
}

h1 {
  color: white;
}
.nav {
  display: flex;
  background-color: black;
justify-content: space-around
}
.menu {
  display: flex;
  padding: 1%;
}

.nav-div {
  
  padding: 5%;
}
.nav-link {
  
  color: white;
  text-decoration: none;
  
}

